#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&lt {
    tapping-term-ms = <500>;
    quick-tap-ms = <250>;
};

/ {
    behaviors {
        shift_control: shift_control {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp LEFT_CONTROL>;

            label = "SHIFT_CONTROL";
        };

        tab_capslock: tab_capslock {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp CAPSLOCK>;

            label = "TAB_CAPSLOCK";
        };

        toNumber: toNumber {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&to 3>;

            label = "TONUMBER";
        };

        return0: return0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&none>, <&to 0>;

            label = "RETURN0";
        };

        change_language: change_language {
            compatible = "zmk,behavior-tap-dance";
            label = "CHANGE_LANGUAGE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp LG(SPACE)>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        change_lang {
            bindings = <&kp LG(SPACE)>;
            key-positions = <45 42>;
            slow-release;
            require-prior-idle-ms = <600>;
            layers = <0>;
            timeout-ms = <300>;
        };
    };

    macros {
        VSC_MD: VSC_MD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(K) &kp V>;
            label = "VSC_MD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E     &kp R        &kp T                                &mmv MOVE_UP                     &kp Y  &kp U      &kp I         &kp O    &kp P     &kp BSPC
&tab_capslock   &kp A  &kp S  &kp D     &kp F        &kp G                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H  &kp J      &kp K         &kp L    &kp SEMI  &kp SQT
&shift_control  &kp Z  &kp X  &kp C     &kp V        &kp B  &kp C_MUTE                    &mmv MOVE_DOWN                   &kp N  &kp M      &kp COMMA     &kp DOT  &kp FSLH  &change_language
                              &kp LGUI  &lt 2 SPACE  &mo 1                                                                 &mo 1  &kp ENTER  &kp LEFT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Layer1 {
            display-name = "Layer1";
            bindings = <
&kp TILDE  &kp EXCL      &kp AT        &kp HASH         &kp DLLR      &kp PRCNT                    &trans             &kp CARET  &kp AMPERSAND   &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DELETE
&none      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3     &kp NUMBER_4  &kp N5               &trans  &mkp RCLK  &trans  &none      &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH
&none      &kp NUMBER_6  &kp N7        &kp N8           &kp N9        &kp N0     &trans            &trans             &none      &kp UNDERSCORE  &kp PLUS       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE
                                       &kp LS(LC(TAB))  &kp LC(TAB)   &mo 1                                           &mo 1      &kp LG(MINUS)   &kp LG(EQUAL)
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        Layer2 {
            display-name = "Layer2";
            bindings = <
&kp LS(LG(NUMBER_3))  &kp DELETE      &kp HOME  &kp UP          &kp PG_UP  &kp BACKSPACE                       &trans             &kp DELETE      &kp HOME        &kp UP        &kp PG_UP  &kp BACKSPACE  &kp DELETE
&kp LS(LG(NUMBER_4))  &kp LEFT_SHIFT  &kp LEFT  &kp DOWN        &kp RIGHT  &kp LEFT_ALT                &trans  &mkp LCLK  &trans  &kp LEFT_SHIFT  &kp LEFT        &kp DOWN      &kp RIGHT  &none          &kp ENTER
&kp LS(LG(N5))        &kp LEFT_SHIFT  &kp END   &kp DOWN_ARROW  &kp PG_DN  &kp LEFT_CONTROL  &trans            &trans             &kp LEFT_SHIFT  &kp END         &kp DOWN      &kp PG_DN  &none          &none
                                                &none           &mo 2      &none                                                  &kp LG(SPACE)   &kp LEFT_SHIFT  &kp LEFT_ALT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer5 {
            bindings = <
&kp SLASH        &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS    &kp DELETE                      &none         &none  &none  &none  &none  &none  &none
&kp ASTERISK     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS  &kp BACKSPACE            &none  &none  &none  &none  &none  &none  &none  &none  &none
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT   &kp TAB        &trans           &none         &none  &none  &none  &none  &none  &return0
                                                   &kp KP_COMMA     &kp SPACE    &kp ENTER                                     &none  &none  &none
            >;

            label = "NUMBER";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
